/* ------- General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  color: #6b1a22;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 15px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #a35766;
  color: #ecdbc9;
}

main img {
  width: 100%;
}
.label-wrapper {
  flex: 1; /* Take up as much space as possible */
  text-align: left;
  margin-right: 10px; /* Adjust as needed */
}

.input-wrapper {
  flex: 1; /* Take up twice as much space as the label */
}
/* Groups & Items */
.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

header {
  background-color: #83092e;
  padding: 20px 20px 0 20px;
  text-align: center;
  margin-bottom: 10px;
}

.logo {
   font-family: "Tangerine", cursive;
  font-size: 72px;
  color: #ecdbc9;
  margin-right: 20px
}

header nav {
  display: flex;
  justify-content: center;
  min-width: 0;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #ecdbc9;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

#about{
  background-color: #a35766;
  margin: 10px;
  color:white
}
#download{
  background-color: #fff;
  color:black
}
#download .item p {
  font-weight: bold;
}
#about img{
  background-color: #a35766;
  width: 90%;
  margin-left: 25px
}
.about-container img {
  width: 300px; /* Adjust the width as needed */
  height: 300px; /* Maintain aspect ratio */
  margin-bottom: 30px;
}

.form-container{
  margin: 40px;
  width: 80%;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

form {
  border: 2px solid #6b1a22;
  padding: 10px;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.form-row label {
  font-weight: bold;
  width: 200px;
  align-items: flex-start;
}

.form-row select,
.form-row input {
  width: 100%;
  align-items:flex-end
}

form button {
  background-color: #83092e;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

footer {
  background-color: #83092e;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

.main_img{
  width: 80%;
  margin: 30px 0 30px 60px;
}


/* ------- Media Query ------- */

@media (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
  }
  .about-container {
    display: flex;
    justify-content: space-between;
  }
  
  .about-item {
    width: 24%; /* Adjust as needed */
    margin-right: 2%;
  }
  
  .main_img{
    max-width: 50%;
  }
  .images{
    display: flex;
  }
  .small-image{
    max-width: 50%;
  }.container {
    display: flex;
  }
  
  .form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  form {
    border: 2px solid #6b1a22;
    padding: 10px;
  }
  
  .form-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%; /* Ensure form rows take up full width */
  }
  
  .label-wrapper {
    flex: 1; /* Take up as much space as possible */
    text-align: left;
    margin-right: 10px; /* Adjust as needed */
  }
  
  .input-wrapper {
    flex: 1; /* Take up twice as much space as the label */
  }

  #download{
    height: 500px;
  }
  #download .item img{
    width: 100%;
    height: 475px;
  }
  #blog img {
    width:100%
  }
  .item p{
    text-align: left;
    margin-top: 45px;
  }
  .form-row label {
    font-weight: bold;
  }
  
  form button {
    background-color: #83092e;
    border: none;
    color: #fff;
    font-size: 24px;
    padding: 15px;
    width: 100%;
  }
  
  .container{
    display: flex;
    align-items: center;
  
    }
  
    .container img{
      width: 50%;
      height: auto;
      margin:0
  }

  
  #join img{
     width: 50%;
  }
  }